
.quiz-main {
    color: black;
    height: 86vh;
    width: 100%;
    margin: auto;
    margin-top: 5.4rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    z-index: 3;
}

.quiz-container {
    background-color: var(--background);
}

.quiz-main .check{
    display: none;
}

.quiz-main > .flashcard-container > .flashcard-wrapper {
    cursor: auto;
}

.correct-container, .wrong-container{
    font-size: 10rem;
    position: absolute;
    margin: auto;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    transform: translateY(-100vw);
    transition: transform 0.5s;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.slide-bottom {
    transform: translateY(0);
}

.darken {
    background-color: rgba(0, 0, 0, 0.8);
}

.count-flashcards{
    text-align: center;
}

@media screen and (min-width: 700px){
    .correct-container, .wrong-container {
        font-size: 15rem;
    }
}

@media screen and (min-width: 1000px){
    .correct-container, .wrong-container {
        font-size: 20rem;
    }
}