/* Navbar */
.navbar-container
{
    width: 100%;
    position: fixed;
    display: grid;
    height: 5.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    background-color: white;
}

.nav-left, .nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.nav-left p{
    font-size: 1.3rem;
}

.menu-button
{
    display: block;
    font-size: 1rem;
}


.logo-section > h2{
    font-size: 1.7rem;
    color: var(--primary);
}

.nav-left > div:nth-child(3) {
    display: none;
}

.plus-section, .notifications-section, .profile-section{
    background-color: var(--primary);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    position: relative;
    cursor: pointer;
}

.icon{
    font-size: 1.3rem;
}

.nav-right {
    align-items: center;
    justify-content: flex-end;
}

.settings-section
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
}

.settings-icon {
    font-size: 1rem;
}

.settings-dropdown-container{
    position: absolute;
    left: 0;
    top: 2rem;
    width: 20rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.settings-dropdown-container li
{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 5;
}

.settings-dropdown-container li:not(:last-child)
{
    border-bottom: 1px solid black;
}

#notifications-dropdown {
    left: auto;
    right: 5px;
    width: 13rem;
}

#notifications-dropdown li
{
    height: 2rem;
}

.sidebar {
    position: fixed;
    border: 5px solid green;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: green;
    transform: translateX(-100vw);
    transition: transform 0.5s;
}

.sidebar > .exit
{
    float: right;
    font-size: 25px;
}

.show {
    transform: translateX(0vw);
}

.animate-dropdown {
    transform: translateY(0);
}

.animate-dropdown-2{
    transform: translateY(-50%);
    transition: transform 0.5s;
}



/* Media Quaries */

/* Tablet styles */
@media screen and (min-width: 700px) {

    #notifications-dropdown {
        left: auto;
        right: 3rem;
        width: 20rem;
    }

    .menu-button {
        font-size: 1.7rem;
    }

    .nav-left h2 {
        font-size: 2.5rem;
    }

    .icon {
        font-size: 1.5rem;
    }

    .plus-section, .notifications-section, .profile-section{
        height: 2.5rem;
        width: 2.5rem;
    }
    
}
  
/* Desktop styles */
@media screen and (min-width: 1024px) {
    .nav-left > div:nth-child(3) {
        display: flex;
        gap: 2rem;
    }

    .nav-left{
        gap: 3rem;
    }

    .menu-button {
        display: none;
    }

    .nav-left h2 {
        font-size: 2.7rem;
    }

    .icon {
        font-size: 1.5rem;
    }

    .plus-section, .notifications-section, .profile-section{
        height: 2.9rem;
        width: 2.9rem;
    }

}